<footer class="container-fluid footer-background p-2">
	<ul class="d-flex justify-content-center">
		<br />
		<li>
			<a href="#">
				<i class="fa fa-linkedin fa-2x"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa-brands fa-github"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/assets/img/webclip.png" alt="pb_portfolio"/>
			</a>
		</li>
	</ul>

</footer>

@code {

}
