.nav-link {
    font-weight: 600;
    font-size: 1.25rem;
    background-color: transparent;
    padding: 0;
    margin: 1rem 0 1rem 0;
}

.nav-link:hover {
    color: #5F8399;
}

.bg-body-tertiary {
    background-color: #C0CBD1 !important;
}
