@page "/"

<DaySchedulerApp.Client.Components.Public.Shared.Navbar/>

<main class="d-flex flex-column w-100 justify-content-center align-items-center overflow-auto" style="min-height: 90vh;">

	Welcome to your new app.

</main>


<DaySchedulerApp.Client.Components.Public.Shared.Footer/>